body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.documentBody {
  height: 100vh;
  width: 100vw;
}

.stickFigureSection {
  height: 50%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.hangingStand {
  height: 100%;
  width: 50%;
  padding-top: 10px;
}

.horizontalTopPost {
  background-color: black;
  border: solid;
  position: relative;
  height: 1px;
  width: 35%;
  left: 13rem;
}

.verticlePost {
  background-color: black;
  border: solid;
  position: relative;
  width: 1px;
  height: 80%;
  left: 13rem;
}

.rope {
  background-color: black;
  border: solid;
  position: relative;
  width: 1px;
  height: 10%;
  left: 28.7em;
  bottom: 21em;
}

.horizontalBottomPost {
  background-color: black;
  border: solid;
  position: relative;
  height: 1px;
  width: 35%;
  left: 5em;
  bottom: 3em;
}
