body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.documentBody {
  height: 100vh;
  width: 100vw;
}

.hangindSectionWithStickFigure {
  height: 45%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.hangingStand {
  height: 100%;
  width: 50%;
  padding-top: 10px;
}

.redunantStyles {
  background-color: black;
  border: solid;
  position: relative;
}

.horizontalTopPost {
  height: 1px;
  width: 35%;
  left: 13rem;
}

.verticlePost {
  width: 1px;
  height: 80%;
  left: 13rem;
}

.rope {
  width: 1px;
  height: 10%;
  left: 28.7em;
  bottom: 18.7em;
}

.horizontalBottomPost {
  height: 1px;
  width: 35%;
  left: 5em;
  bottom: 3em;
}

.stickManSection {
  height: 70%;
  width: 25%;
  position: relative;
  left: 23em;
  bottom: 21.5em;
}

.head {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  left: 4.3em;
}

.torso {
  height: 6em;
  width: 1px;
  left: 5.5em;
}

.leftArm {
  height: 4em;
  width: 1px;
  transform: rotate(45deg);
  bottom: 6em;
  left: 4em;
}

.rightArm {
  height: 4em;
  width: 1px;
  transform: rotate(315deg);
  bottom: 10.3em;
  left: 7em;
}

.leftLeg {
  height: 4em;
  width: 1px;
  transform: rotate(30deg);
  bottom: 9.1em;
  left: 4.3em;
}

.rightLeg {
  height: 4em;
  width: 1px;
  transform: rotate(330deg);
  bottom: 13.5em;
  left: 6.7em;
}

.wordSection {
  width: 100wv;
  height: 10%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
}

.letterSection {
  width: 75px;
  height: 75px;
  border: solid;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-style: bold;
}

.key {
  height: 80px;
  width: 80px;
  border: solid;
  border-radius: 15px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.keyboard {
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
}

.keyboardSection {
  margin: 30px;
}
